input[type=text] {
    border-radius: 200px;
    margin:8px;
    padding: 15px 20px;
    width: 100%;
    margin-left: 0px;
}
input[type=text]:hover {
    border-radius: 200px;
    margin:8px;
    padding: 15px 20px;
    width: 100%;
    background-color:gray;
    margin-left: 0px;
}
input[type=password] {
    border-radius: 200px;
    margin:8px;
    padding: 15px 20px;
    width: 100%;
    margin-left: 0px;
}
input[type=password]:hover {
    border-radius: 200px;
    margin:8px;
    padding: 15px 20px;
    width: 100%;
    background-color:gray;
    margin-left: 0px;

}
input[type=submit] {
    border-radius: 200px;
    margin:8px;
    padding: 15px 20px;
    width: 100%;
    height:50px;
    margin-left: 0px;
}
input[type=submit]:hover {
    border-radius: 200px;
    margin:8px;
    padding: 15px 20px;
    width: 100%;
    background-color:gray;
    margin-left: 0px;
}
p {
    text-align: center;
}
input {
    text-align: center;
}
textarea {
    resize: none;
    border-radius: 8px;
    width: 100%;
}
body {
    position: relative;
}
.formarea {
    width: 20%;
    height: 30%;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}