.timetext {
    color:grey;
}
body {
	display: block;
}
.posttext {
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.posttextpage {
	overflow-y: scroll;
	word-wrap: break-word;
}
.postdiv {
    border: 2px solid black;
    border-radius: 15px;
    margin: 8px;
    padding: 4px;
    width: 200px;
    float: left;
    overflow: hidden;
    display: inline-block
}
.postdivpage {
	border: 2px solid black;
    border-radius: 15px;
    margin: 8px;
    padding: 4px;
    width: 95%;
    float: left;
    height: 95%;
    display: inline-block;
}
#createpostlink {
	text-align: center;
	border: 2px solid black;
	border-radius: 15px;
	padding: 4px 8px;
	width: 50%;
	height: 5%;
	display: inline-block;
	text-align: center
}
#createpostdiv {
	background-color: lightgray;
	width: 5%;
	height: 100%;
	width: 250px;
	position: fixed;
	border-right: 2px solid black;
	left: 0px;
	padding: 0px;
    top: 0;
	overflow-x: hidden;
	text-align: center;
}
#main {
	margin-left: 254px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
}
li a {
    display: inline;
    width: 50px;
    color: white;
}
li:hover {
	background-color: white;
}
a.topbarlink:hover {
	color: black;
}
nav {
	margin-left: 244px;
	height: 100px;
	border-bottom: 2px solid black;
	left: 0;
	position: relative;
}
li {
    float: left;
    padding: 16px;
}
a {
    display: block;
    padding: 8px;
}
.posttitle {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.imgpage {
    max-height:200px;
    max-width: 300px;
}