.timetext {
    color:grey;
}
body {
	display: block;
}
.posttext {
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.posttextpage {
	overflow-y: scroll;
	word-wrap: break-word;
}
.postdiv {
    border: 2px solid black;
    border-radius: 15px;
    margin: 8px;
    padding: 4px;
    width: 200px;
    float: left;
    height: 200px;
}
.postdivpage {
	border: 2px solid black;
    border-radius: 15px;
    margin: 8px;
    padding: 4px;
    width: 95%;
    float: left;
    height: 95%;
}
#createpostlink {
	text-align: center;
	border: 3px solid black;
	border-radius: 3px;
	padding: 4px 8px;
	width: 5%;
	height: 50%;
}
#createpostdiv {
	background-color: lightgray;
	height: 5%;
	width: 100%;
	position: fixed;
	border-top: 2px solid black;
	bottom: 0px;
	left: 0px;
	padding: 4px;
	
}